<!-- views/partials/footer.ejs -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="footer-nav">
                    <li><a class="scroll-to" href="#top">INICIO</a></li>
                    <li><a class="scroll-to" href="#services">PRESTADORES</a></li>
                    <li><a class="scroll-to" href="#information">SOBRE</a></li>
                    <li><a class="scroll-to" href="#partners">PACEIROS</a></li>
                    <li><a class="scroll-to" href="#contact">CONTATO</a></li>
                </ul>
                <div class="clearfix"></div>
                <p class="copyright">João Snow ©2015</p>
            </div>
        </div>
    </div>
</footer>