<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Patos serviços</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="theme/css/bootstrap.min.css">
<link rel="stylesheet" href="theme/css/animate.css">
<link rel="stylesheet" href="theme/css/font-awesome.min.css">
<link rel="stylesheet" href="theme/css/datepicker.css">
<link rel="stylesheet" href="theme/css/styles-green.css">

<script src="theme/js/jquery-1.11.0.min.js"></script>
<script src="theme/js/bootstrap.min.js"></script>
<script src="theme/js/bootstrap-datepicker.js"></script>
<script src="theme/js/jquery.autocomplete.min.js"></script>
<script src="theme/js/jquery.placeholder.js"></script>
<script src="theme/js/wow.min.js"></script>

<script>
    // Initialize WOW
    //-------------------------------------------------------------
    new WOW({mobile: false}).init();
</script>

<script src="theme/js/custom.js"></script>

<script src="/js/detalharPrestador.js"></script>
<script src="/js/uploadfoto.js"></script>
<style>
    body    { padding-top:50px; }
</style>