<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include /partials/head %>
</head>
<body class="container">

    <header>
        <% include /partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>Portal de Serviço</h1>
                    <p>Seu portal local de serviço</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Você é Prestador de Serviço autonomo?!</h3>
                    <p>Agora você prestador de Serviço tem seu espaço</p>
                    Não perca tempo e <a href="/signup">registre já</a>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include /partials/footer %>
    </footer>
    
</body>
</html>